.leftbox{
    width: 500px;
    height: 1000px;
    position:absolute;
    left: 0px;
    top: 0px;

    background-color: black;
}.rightbox{
    width: 1000px;
    height: 1000px;
    background-color: lightskyblue;
    position: absolute;
    left: 500px;
    top: 0px;

}.line{
    width: 10px;
    height: 1000px;
    background-color: white;
    margin: 0 auto;
}