.mainbox{
    border: 5px solid  black;
    width:500px;
    height:500px;
    position: relative;
    background-color: tomato;
    color: black;
    }
.centerbox{  
    width:200px;
    height:500px;
  
   position: absolute;
   left: 150px;
   background-color: yellow;
   top: 0px;
    }
.rightbox{
   
    width:150px;
    height:250px;
    position: absolute;
   
    bottom: 0px;
    background-color: yellowgreen;
    }
.leftbox{
    
    width:150px;
    height:250px;
    position: absolute;
    top: 0px;
   right: 0px;;
    background-color: blue;
    }
    
    
